@model UserInfo
@{
ViewBag.Title = "Başvuru Detayı";
}

<main class="text-center">
    <h1 class="h4">Başvuru Detayı</h1>
    <p>@Model.Name</p>
    <p>@Model.Phone</p>
    <p>@Model.Email</p>
</main>