<h1 class="h4">Toplantı Katılım Listesi</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad</td>
            <td>E-posta</td>
            <td>Katılım Durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cihat KAMA</td>
            <td>cihatkama@gmail.com</td>
            <td>EVET</td>
            <td>
                <a class="btn btn-primary" href="#">Detay Görüntüle</a>
            </td>
        </tr>
        <tr>
            <td>Yüksel KAMA</td>
            <td>yuksel.erkavas@gmail.com</td>
            <td>EVET</td>
            <td>
                <a class="btn btn-primary" href="#">Detay Görüntüle</a>
            </td>
        </tr>
    </tbody>
</table>